#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#background_content {
  position: absolute;
  z-index: 1;
  width: 500px;
  right: 0px;
  margin-top: 50px;
  padding-top: 0px;
  height: 500px;
  opacity: 0.75;
  background: white;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: none;
}

#dot_background {
  margin-top: 0px;
  text-align: center;
  height: 1000px;
}

#hunter_background {
  margin-top: 0px;
  text-align: center;
}

#psu_background {
  margin-top: 0px;
  display: none;
}

#ccny_background {
  margin-top: 0px;
  display: none;
}

#hsmse_background {
  margin-top: 0px;
  display: none;
}

#nyrp_background {
  margin-top: 0px;
  display: none;
}

#atlas_background {
  margin-top: 0px;
  display: none;
}

#telepathy_background {
  margin-top: 0px;
  display: none;
}

#juliarosa_background {
  margin-top: 0px;
  display: none;
}

#banner {
  background: black;
  position: relative;
  width: 500px;
  height: 35px;
  margin: 0 0;
  opacity: 1;
  border-top-left-radius: 25px;
}

#banner_text {
  color: white;
  margin: 0 0;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
  size: 11.5px;
}


#dot_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#hunter_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#psu_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#ccny_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#hsmse_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#nyrp_background_content {
  position: relative;
  top: 50%;
  transform: translateY(-50);
  padding: 5px 10px;
}

#atlas_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#telepathy_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#juliarosa_background_content {
  position: relative;
  margin: 0 0;
  padding: 5px 10px;
}

#legend {
  position: absolute;
  display: none;
  z-index: 2;
  width: 251px;
  margin: 50px auto 0;
  padding: 0px;
  height: 700px;
  opacity: 1;
  background: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav { 
  position: relative;
  top: 0px;
  text-align: center;
  opacity: 1;
  display: inline;
  width: 100%
 }

ul.legend_navigation {
  position: relative;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: inline;
}

li.legend_navigation {
  position: relative;
  margin: 0px;
  display: inline;
}

button {
  cursor: pointer;
  outline: 0;
}

#professional_button {
    background: black; /* Test colors later -- Green - #4CAF50 */
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 11.5px;
    font-weight: bold;
    width: 78px;
    opacity: 1;
    border: none;
}

#academic_button {
    background: black; /* Test colors later -- Green - #4CAF50 */
    color: white;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 11.5px;
    font-weight: bold;
    width: 78px;
    opacity: 1;
    border: none;
}

#project_button {
    background: black; /* Test colors later -- Green - #4CAF50 */
    color: white;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 11.5px;
    font-weight: bold;
    width: 87px;
    opacity: 1;
    border: none;
    border-top-right-radius: 25px;
}

#legend_content {
  position: relative;
  padding: 10px 10px 25px 10px;
  text-align: center;
  height: 90%
  }

.back_to_contacts {
  font-size: 15px;

}

#professional_content {
  display: none;
}

#academic_content {
  display: none;

}

#project_content {
  display: none;
}

#category_title {
  text-align: center;
  font-size: 18px;
  color: black;
}

.break {
  margin-bottom: 35px;
}

#break_academic {
  margin-bottom: 30px;
}

#break_project {
  margin-bottom: 30px;
}

img {
  position: relative;
  height: 45px;
  width: 45px;
  display: block;
  border-width: 1px;
  border-color: black;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 }

img#dot {
  height:60px !important;
  width:60px !important;
  margin-top: 5px;
}

.record {
  position: relative;                                             
  font-size: 12px;
  display: block;
}

.legend_item_descrip {
  position: relative;                                             
  font-size: 12px;
  display: block;
}

.legend_item {
  position: relative;                                             
  font-size: 16px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: underline;
  color: white;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  margin-bottom: 25px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  font-size: 17px;
  margin-bottom: 5px;
}

#resume_link {
  text-decoration: underline;
}

ul.contact_links {
  position: absolute;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  bottom: 15px;
  display: table-cell;
}

dl#contact_links {
  bottom: 15px;
  text-decoration: none;
  font-family: none;
  font-size: 14px;
  position: relative;
  left: 10%;
}

li.contact_links {
  display: inline;
}

@font-face {
  font-family: 'NiconneRegular';
  src: url('assets/fonts/NiconneRegular/NiconneRegular.eot');
  src: local('NiconneRegular'), url('assets/fonts/NiconneRegular/NiconneRegular.woff') format('woff'), url('assets/fonts/NiconneRegular/NiconneRegular.ttf') format('truetype');
}

@font-face {
  font-family: "registry";
  src: url('assets/fonts/registry/registry.eot');
  src: local('registry'), url('assets/fonts/registry/registry.woff') format('woff'), url('assets/fonts/registry/registry.ttf') format('truetype');
}

@media screen and (max-width: 600px) {
  #project_button {
    width: 75px;
  }
}